.expand {
    display: inline-flex;
    padding: 10px;
    font-size: 1.25rem;
    width: 100%;
    text-align: right;
    box-sizing: border-box;
    justify-content: right;
    cursor: pointer;
    color: #444
}

.expand:hover {
    color: #00ce89
}

.account {
    display: flex;
    align-items: center;
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' -10;
    padding-bottom:0;
    margin-bottom:0;
    padding-right: 2px;
    margin-top: 0px;
    padding-top: 0px;
}
.account .material-symbols-outlined{
    padding-right: 2px;
}


.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 30;
    vertical-align: bottom;
    

}




body {
    font-family: 'Inter', sans-serif, 'Trebuchet MS', sans-serif;
    padding-top: 0;
    margin-top: 0;
    /* background:#37414F; */
    /* background: #313B4A; */
    background: #212832;
    margin-left: 0;
    margin-right: 0;
    max-width: 100vw;


}


main {
    font-family: 'Inter', sans-serif, 'Trebuchet MS', sans-serif;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 90vh;
    /* background: linear-gradient(rgb(255, 255, 255) 20%, #cccac9); */
    padding-top: 10px;
    /* background-color: #fcf8fe; */
    background: white;
    display: grid;
    
    grid-auto-flow: row;
    row-gap: 2px;
    column-gap: 2px;
    grid-template-rows: auto auto;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));

}

/* .main-dash{
    display: flex;
    flex-wrap: wrap;

} */

.main-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #212832;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    color: white;
}
.main-landing .input-form-field{
    color: white;
}
.main-landing .div-form-submit {
    display: flex;
    justify-content: center;
}
.main-landing #login {
    width: 100%;
}

ul {
    list-style: none;
}


footer {
    color: white;
    margin: 10px;
    
}


p {
    padding-left: 5px;
}



section {
    align-self: flex-start;    
    box-shadow: 1px 1px 2px 1px gray;
    list-style: none;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
    

}



    header {
        border-bottom: 2px solid;
        z-index: 1;
        padding-top: 5px;
        box-shadow: inset 0px -20px 20px 1px #34455f;
        display: flex;
        flex-direction: column;
        margin: 0px;
        padding-left: 10%;
        padding-right: 10%;
        position: sticky;
        top: 0;
        background: #313B4A;
    }





h1 {
    font-size: 2rem;
    font-weight: 700;

}

h2 {
    font-size: 1.5rem;

    border-radius: 3px;
    background: #313B4A;
    color: #ffffff;

    margin: 0px;
    padding: 5px;


}

h3 {
    font-size: 1.125rem;
    padding-left: 5px;
}

iframe {
    width: 100%
}

.image-container {
    margin: 5px;
    padding: 5px;


}

.main-grid img {
    width: 100%;

}



li {
    padding: 3px;
}





.main-sidenav {
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: start;
    /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
}

.sidenav {
    
    position: sticky;
    top: 100px;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #313B4A;
    font-weight: 500;
    padding: 2px;   

}





#location-links {
    list-style-type: none;
    padding-left: 0;
}

#location-links a {
    text-decoration: none;
    color: black;
}

#location-links li:hover {
    font-weight: bold;
}

#home-link {


    display: flex;
    align-items: center;
    font-style: italic;
    display: flex;

    width: 45%;

}

#home-link img {
    height: 100px;
    width: auto;

}


.main-navlist {
    margin-bottom: 2px;
}

.nav-ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    border-top: 1px solid;
    border-color: white;
    font-family: 'Inter', sans-serif, 'Trebuchet MS', sans-serif;
    align-items: center;

}

.nav-ul li {

    border-radius: 5px;
    font-weight: 500;    
    font-size: 1.1rem;
}

.nav-ul a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background-color, padding 0.3s ease;
    border-radius: 5px;
    padding: 0px;


}

.nav-ul a:hover {
    background-color: #34455fad;
    padding: 2px;
    border-radius: 5px;
    
}


.nav-ul a:last-child {
    margin-left: auto;

}

#li-login {
    padding: 0px;
    margin: 0px;
    height: 100%;
    
}

.banner {
    background: #8B00FF;
    height: auto;
    padding: 5px;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 6px;
    border-radius: 5px;
    margin-top: 2px;
    opacity: .5;
    display: flex;
    color: white;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 500;
    vertical-align: center;
    /* box-shadow: 2px 2px 4px 2px #8b00ff87; */
}

.error-banner {
    background: #e15858;
    height: auto;
    padding: 5px;
    margin-bottom: 2px;
    border-radius: 5px;
    margin-top: 2px;
    font-weight: bold;
    opacity: .70;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.banner p {
    padding: 0px;
    margin: 0px;
    padding-top: 0px;
}

.error-banner p {
    padding: 0px;
    margin: 0px;
    padding-top: 2px;
}

/* Table formatting */

table {
    color: white;
    border: none;
    text-align: left;  
    background: #313b4a4f;
    border-collapse: separate;
    border-spacing: 0;
    
    text-align: left;
    table-layout: fixed;
    width: 100%;


}

td {

    padding: 5px;


}

th {

    padding: 2px;
    /* background-color: #313B4A; */

    color: white;
    font-weight: 500;
    border-bottom: solid 2px;
    background: #28374b8c;

}


.team-stats {
    /* display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    table-layout: auto; */
    display: flex;
    flex-wrap: wrap; 
    
    
}
.team-stats section{
    width: 100%;
}

.modal {
    padding: 2px;
}


.team th:first-child {
    border-top-left-radius: 5px; /* You can adjust the radius value as needed */
}

.team th:last-child {
    border-top-right-radius: 5px; /* You can adjust the radius value as needed */
}
.team tr td:last-child{
    border-bottom-right-radius: 5px;
}
.team tr td:first-child{
    border-bottom-right-radius: 5px;
}


.table-link {
    text-decoration: underline;
    color: white;
}



tr:nth-child(even) {
    /* background-color: rgb(205, 182, 227); */
    /* background: #28374b8c; */
    background: #f812f02d;
}

.stats-table tr:hover {
    background-color: #2a313a24;    
}

.team-stats tr:hover{
    background-color: #2a313a24;

}
.stats {
    border-radius: 3px 3px 0 0;
}

.table-button{
    font-size: 1rem;
    padding: 5px;
    margin: 2px;
}

/* Form stuff */

.div-form-component {
    padding-top: 5px;
    
}

.div-form-component-rb {
    padding-bottom: 10px;

}

.input-form-field {
    display: block;
    color: black;

    font-size: 14px;
    font-weight: 500;

    margin: 10px 0 10px 0;
    border: none;
}

.div-form-component input {

    border: none;
    font-family: 'Inter', sans-serif, 'Trebuchet MS', sans-serif;
    border-bottom: 2px outset;
    padding: 10px;
    background-color: rgb(250, 244, 255);
    border-radius: 5px 5px 0px 0px;
    font-size: 1rem;
}
.div-form-component input:focus {
    border: none;
    outline: none;
    
    border-bottom: 2px solid;
    border-color: #8B00FF;
    
}

.div-form-submit-cancel #submit {
    display: inline;
    margin-right: 5px;

}

.cancel-button {
    display: inline;
    background: white;
    color: black;
    border-radius: 6px;

    cursor: pointer;
    border: 1px solid;
}

.cancel-button:hover {
    background: rgb(178, 129, 223);
    opacity: 1;

}



select {
    width: 100%;
    border-bottom: 1px outset;
    padding: 10px;
    background-color: rgb(250, 244, 255);
    border-radius: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Inter', sans-serif, 'Trebuchet MS', sans-serif;
    color: #34455f;
    font-size: 1rem;
}

.input-form-field option {
    color: #34455f;
}



.rb {
    width: 20px;

}


.time-div {
    display: grid;

    row-gap: 2px;
    column-gap: 2px;
    grid-template-columns: 25% 15%;

}

input:disabled {
    opacity: .5;
    background-color: rgb(132, 121, 121);
}

input:read-only {
    opacity: .75;
    background-color: rgb(250, 244, 255);

}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-right: 5px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .flex{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  .flex .div-form-component {
    margin-right: 5px;
    flex:1;
  }

  .flex button{
    margin-right: 5px;
  }



  .toggle {
    display: flex;
    align-items: center;
    
  }

input[type=button],
input[type=submit],
input[type=reset],
button {
    display: block;
    background: #00ce89;
    color: white;
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    margin-bottom: 5px;
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: .75;
}

button:disabled {
    opacity:.75;
    background-color: #212832;
    cursor: not-allowed;
}

#loginBtn {
    margin: 5px 5px 3px 0;
    padding: 5px 10px 5px 10px;
    height: 90%;

}


#li-login:hover {
    background: none;
}

#login-container {

    display: block;
    width: 25%;
    margin-right: 10%;
    margin-left: 0;
    background: #313b4a;
    opacity: .97;
    border: 2px solid;
    position: fixed;
    right: 0;
    border-radius: 5px;
    box-shadow: 2px 3px 3px 2px #444;
    color: white;
    margin-top: 0px;
    z-index: 1;
}

#login-container #profile-link {
    color: white;
    text-decoration: none;
}

#login-container label {
    color: white;
}

#login-container h2 {
    background: none;
    padding-left: 0;
    color: aliceblue;
    
}

#login-container input:focus{
    border-bottom: 2px solid;
    border-color: #F812F1;
    
}

#login-container .error-banner{
    opacity: 1;
}



.exit-button-container {
    display: block;
    width: 25px;
    cursor: pointer;
    flex-direction: column;
    padding-top: 0px;
    padding-top: 10px; 
    
    color: white;

}

.exit-button,
.exit-button::after {

    display: block;
    background-color: white;    
    height: 2px;
    width: 20px;
    border-radius: 1px;
    transform: rotate(45deg);
    
}

.exit-button:hover::after,
.exit-button:hover {
    background-color: #F812F1;
}



.exit-button::after {
    content: '';
    transform: rotate(90deg);
}

.filter-div {
    position: relative;
    display: flex;


}

.filter {
    border: solid 1px;
    border-radius: 2px;
    width: 100%;

    flex: 1;

}

.filterBtn {
    background: none;
    position: absolute;
    margin: 0px;
    padding: 0px;
    right: 2px;


}

.filterBtn>span {

    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' -10;
    vertical-align: bottom;
    font-size: 16px;
    color: gray;
    margin-left: auto;

}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}



.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.22, 0.61, 0.36, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);

}

#menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}



.spinner {
    display: block;
    width: 50px;
    height: 50px;
    margin: 35% auto;
    border: 3px solid transparent;
    border-radius: 50%;
    border-top-color: #8b49ee;
    animation: spinner 1s infinite;
}

@keyframes spinner {
    to {
        transform: rotateZ(360deg);
    }
}

.mobileNav {
    display: none;
}
.mobileNavHidden{
    display: none;
}

.logout-link{
    display:none;
    color: white;
}



/*------------------*/
/* Media query #1 */
@media all and (max-width: 50em) {

    .time-div {

        grid-template-columns: 60% 30%;
    
    }

    main {
        padding-left: 1%;
        padding-right: 1%;

    }
    .main-sidenav {

        width: 100%;
        display: flex;
        flex-direction: column;
        /* grid-template-columns: 1fr 6fr; */
        align-items: start;
        /* grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr)); */
    }
    .sidenav{
        display: flex;
        flex-direction: row;
        position: static;
        width: 100%;
        margin-bottom: 5px;
    }
    .sidenav span{
        margin-bottom: 2px;
    }


    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        z-index: 1;
        padding-left: 5%;
        padding-right: 5%;
    }

    #login-container {

        display: none;
    }

    .menu-button-container {
        display: flex;
    }

    body {
        overflow-x: hidden;
    }


    .nav-ul {
        position: absolute;
        display: flex;
        margin-left: 1000px;
        gap: 0;
        background-color: #222831;
        /* transition: padding 1400ms cubic-bezier(0.23, 1, 0.32, 1); */
    }

    .nav-ul a {
        padding: 0px;
        color: white;
        margin: 0px;
        height: 0px;
        text-align: center;
        transition: all 400ms cubic-bezier(0.23, 1, 0.32, 1);

    }
    

    .nav-ul li {
        text-align: center;
        border-bottom: 1px solid aliceblue;
        padding-bottom: 10px;
    }


    #menu-toggle:checked~.nav-ul {
        display: flex;
        gap: 0px;
        position: absolute;
        top: 0;
        left: 0;
        flex-direction: column;
        width: 100vw;
        border: none;
        margin-left: 0px;
        overflow-x: hidden;
        margin-top: 57px;

    }

    #menu-toggle {
        margin: 0;
        margin-top: 2px;
        padding: 0px 10px 0 10px;
        margin-left: 50%;
   
    }



    #menu-toggle:checked~.nav-ul a {
        height: 45px;
        margin: 0;
        padding: 0;
        border: none;
        border-bottom: 1px solid;
        width: 100%;
        opacity: .95;


    }

    #menu-toggle:checked~.nav-ul li {
        height: 100%;
        border: none;
        padding-bottom: 0;
        padding-top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .logout-link {
        display:block;  
        color: white;        
        text-decoration: underline;
        font-size: .9rem;      
        font-weight: 500;
        padding: 10px;    
    }
    .logout-link:hover{
        cursor: pointer;
        color: #8b49ee;
    }
    .mobileNavHidden{
        display: none;
    }
    .mobileNav {
        color: white;
        display: flex;
        justify-content: space-between;
        padding-left: 5px;
        padding-right: 5px;
    }
    .mobileNav span{
        padding:5px 5px 5px 5px;
    }

    #loginBtn {
        margin: 0;
        width: 100%;
        height: 100%;
        

    }
    #home-link img {

        height: 50px;
        width: auto;
    }

    .div-form-component input {
        width: 100%;

    }

    .main-landing div {
        width: 100%;
    }

    section {
        padding: 2px;
        margin: 0;
        margin-bottom: 5px;
    }

    table {
        font-size: .75rem;
    }

    option {
        width: 100%;
    }

    .flex .div-form-component {
        flex:none;
        width: 100%;
      }


}



/* Last media query */


/* @media all and (max-width: 450px) {

    #home-link img {

        height: 50px;
        width: auto;
    }


    #menu-toggle:checked~.nav-ul {
        margin-top: 59px;
    }

    .div-form-component input {
        width: 100%;


    }

    #menu-toggle{
        margin:0;
        margin-top: 0;
        padding:0px;
        margin-left: 50%;
    
    }

} */